<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ page.title }} - Funeoz's blog</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/pygments.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/hamburgerMenu.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@latest/src/glowCookies.min.js"></script>
    <script>
        glowCookies.start('en', {
            style: 1,
            acceptBtnColor: "white",
            acceptBtnBackground: "#17252a",
            position: "right",
            analytics: " G-HZ032CQRHQ",
            policyLink: "https://www.cookiesandyou.com/"
        });
    </script>
    {% include metadata.html %}
</head>