<div class="panel">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/search.html">
                <li>Search</li>
            </a>
            <a href="/projects.html">
                <li>Projects</li>
            </a>
            <a href="/about.html">
                <li>About me</li>
            </a>
        </ul>
    </div>
    <section>
        <div class="card-image has-text-centered">
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="/assets/images/logo.gif">
            </figure>
            <h2 class="title" id="username">Funeoz's blog</h2>
        </div>
    </section>
    <section id="sidebar-icons">
        <div class="panel-icons">
            <p class="control">
                <a href="/" class="button is-primary is-rounded is-fullwidth panel-buttons">
                    <span class="icon is-small">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </a>
            </p>
            <p class="control">
                <a href="/search.html" class="button is-primary is-rounded is-fullwidth panel-buttons">
                    <span class="icon is-small">
                        <i class="fas fa-search"></i>
                    </span>
                    <span>Search</span>
                </a>
            </p>
            <p class="control">
                <a href="/projects.html" class="button is-primary is-rounded is-fullwidth panel-buttons">
                    <span class="icon is-small">
                        <i class="fas fa-code"></i>
                    </span>
                    <span>Projects</span>
                </a>
            </p>
            <p class="control">
                <a href="/about.html" class="button is-primary is-rounded is-fullwidth panel-buttons">
                    <span class="icon is-small">
                        <i class="fas fa-user"></i>
                    </span>
                    <span>About me</span>
                </a>
            </p>
        </div>
    </section>
    <section>
        <p class="buttons">
            <a href="https://github.com/Funeoz" class="button is-ghost social">
                <span class="icon is-large">
                    <i class="fab fa-2x fa-github"></i>
                </span>
            </a>
            <a class="button popup is-ghost social"
                onclick="navigator.clipboard.writeText('Funeoz#1721');document.getElementById('myPopup').classList.toggle('show')">
                <span class="icon is-large">
                    <i class="fab fa-2x fa-discord"></i>
                </span>
                <span class="popuptext" id="myPopup">Copied !</span>
            </a>
        </p>
    </section>
</div>