<div class="panel">
    <section>
        <div class="card-image has-text-centered">
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded"
                    src="https://cdn.discordapp.com/avatars/256093420206948352/a_a2ee52c30498b0b986c6ab1cb54d279f.gif">
            </figure>
            <h2 class="title" id="username">Funeoz's blog</h2>
        </div>
    </section>
    <section>
        <div class="panel-icons">
            <p class="control">
                <a href="/" class="button is-primary is-rounded is-fullwidth panel-buttons">
                    <span class="icon is-small">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </a>
            </p>
            <p class="control">
                <a href="/" class="button is-primary is-rounded is-fullwidth panel-buttons">
                    <span class="icon is-small">
                        <i class="fas fa-search"></i>
                    </span>
                    <span>Search</span>
                </a>
            </p>
            <p class="control">
                <a href="/projects.html" class="button is-primary is-rounded is-fullwidth panel-buttons">
                    <span class="icon is-small">
                        <i class="fas fa-code"></i>
                    </span>
                    <span>Projects</span>
                </a>
            </p>
            <p class="control">
                <a href="/about.html" class="button is-primary is-rounded is-fullwidth panel-buttons">
                    <span class="icon is-small">
                        <i class="fas fa-user"></i>
                    </span>
                    <span>About me</span>
                </a>
            </p>
        </div>
    </section>
    <section>
        <p class="buttons">
            <a href="https://github.com/Funeoz" class="button is-ghost social">
                <span class="icon is-large">
                    <i class="fab fa-2x fa-github"></i>
                </span>
            </a>
            <a class="button is-ghost social">
                <span class="icon is-large">
                    <i class="fab fa-2x fa-discord"></i>
                </span>
            </a>
        </p>
    </section>
</div>