---
---

$primary: #17252a;
$button-ghost-color : white;
$button-ghost-hover-color: #17252a;
$button-ghost-hover-decoration: none;
$table-head-cell-border-width: 2px solid;
$table-foot-cell-border-width: 2px solid;


@import "bulma";

html, body, .columns, #left-side, #right-side {
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

#right-side {
    display: flex;
    flex-direction: column;
}

div.wrapper {
    flex-grow: 1;
}

#left-side {
    position: sticky;
}

.post-content {
    font-family: 'Merriweather', serif;
}

@media screen and (max-width: $tablet) {
    .panel, #left-side {
        height: 75vh !important;
    }
    #mobile-scroll-up {
        display: flex;
        justify-content: center;
    }
    .blog-card {
        margin: 2rem 0;
    }
    #sidebar-icons {
        display: none;
    }
    .post-content {
        padding: 2rem;
    }
}

@media screen and (min-width: $tablet) {
    .blog-card {
        margin: 2rem 6rem;
    }
    #right-side {
        overflow-y: scroll;
        scrollbar-width: auto;
    }
    html {
        scrollbar-width: none;
    }
    html::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Chrome/Safari/Webkit */
    }
    #menuToggle {
        display: none !important;
    }
    .post-content {
        padding: 3rem 10rem;
    }
    .post-content > p {
        max-width: 50ch;
        
    }

}

.panel {
    background-image: linear-gradient(to top, #2e918c, #17252A);
    border-radius: 0 !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}


a.panel-buttons {
    margin: 0.5em 0em;
}

.social {
    margin: 0.5em;
}

#username {
    color: white;
}

section.hero {
    background-color: ghostwhite; 
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
}
div.hero-foot {
    padding-left: 1.5rem;
}

pre {
    text-align: left;
}

nav.pagination {
    margin: 2rem 6rem;
}

.card-content {
    display: flex;
    flex-direction: column;

    a.title {
        margin-bottom: 0;
    }    
    span.icon-text {
        padding: 1rem 0rem;
    }
}

a.pagination-link, a.pagination-next, a.pagination-previous{
    justify-content: center;
    border-color: #b5b5b5;
}

a.pagination-link.is-current {
    background-color: $primary;
    border-color: $primary;
}

#skills-list {
    list-style-type: none;
}

.title-about {
    margin: 1rem;
}

.share-btn:hover {
    color: white;
    opacity: 0.8;
}

.tags > p {
    font-family: 'Ubuntu', sans-serif;
    margin: 1rem 0;
}

#disqus_thread {
    margin: 0 1rem;
}