---
layout: default
---

<header class="post-header">
    {% include hero.html %}
</header>

{% for post in paginator.posts %}
<div class="card blog-card">
    {% if post.image %}
    <div class="card-image">
        <figure class="image is-16by9">
            <img src="{{ post.image }}">
        </figure>
    </div>
    {% endif %}
    <div class="card-content">
        <a class="title is-4" href="{{ post.url }}">{{ post.title }}</a>
        <span class="icon-text">
            <span class="icon">
                <i class="fas fa-user-edit"></i>
            </span>
            <span>Funeoz</span>
            <span class="icon">
                <i class="fas fa-calendar"></i>
            </span>
            <span>{{ post.date | slice: 0,10 }}</span>
        </span>
        <p>{{ post.description }}</p>
    </div>
    <footer class="card-footer">
        <a href="{{ post.url }}" class="card-footer-item">Read more</a>
    </footer>
</div>
{% endfor %}

{% include pagination.html %}